*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ce505b;
}

.container{
    border: 1px solid red;
    height: auto;
    width: 60vw;
    color: white;
    background-color: #2e2e36;
    border-radius: 18px;
    border: none;
    box-shadow: 0 5px 10px 2px rgba(67,21,10,0.5);
    padding: 5px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons button{
    margin-left: 7px;
    border: none;
    margin-bottom: 15px;
    margin-top: 5px;
}

form label{
    font-size: 18px;
}

.display_image, .display_image1{
    width: 165px;
    height: 120px;
    border: 1px dotted white;
    background-size: cover;
    margin-top: 8px;
}